* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: cursive; */
  color: bisque;
  text-align: center;
  background: rgb(54, 66, 173);
}

.App-header {
  font-size: 20px;
  display: inline-block;

  padding: 5px 10px;
  margin: 5px auto;

  border-radius: 10px;
}

.formApp {
  width: 85%;
  border-radius: 10px;
  min-height: 80vh;
  margin: 20px auto;
  padding: 20px;
}

input,
#addBtn,
#clearAll {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}

input {
  width: 80%;
}

button:hover,
input:hover {
  background: rgba(65, 225, 177, 0.479);
}

button:hover {
  cursor: pointer;
}

.inputArea {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input:focus,
button:focus {
  outline: none;
}

input::placeholder {
  color: black;
}

ul {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  border-radius: 20px;
  max-height: 60vh;
  margin: 50px auto 0px;
  max-width: 95%;
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  font-size: 25px;
  margin: 25px auto;
  padding: 5px 10px;
  list-style: none;
  border: 2px solid rgba(0, 0, 0, 0.61);
  background: sandybrown;
  width: fit-content;
  min-width: 95%;
  text-align: left;
}

#clearAll {
  color: orangered;
}

#clearAll:hover,
#delBtn:hover {
  background: red;
  color: black;
}

#delBtn {
  border-radius: 30px;
  border: 0;
  padding: 10px 8px;
  float: right;
}
