* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgba(252, 255, 251, 0.829);
  background: rgb(54, 66, 173);
  text-align: center;
  font-family: "Eczar", sans-serif;
}

.App-header {
  font-size: 20px;
  display: inline-block;

  padding: 5px 10px;
  margin: 5px auto;

  border-radius: 10px;
}

input,
button {
  background-color: rgba(243, 241, 241, 0.767);
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}

input {
  width: 80%;
}

button:hover {
  cursor: pointer;
}

.inputArea,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputArea {
  max-width: 93%;
  margin: auto;
}

input:focus,
button:focus {
  outline: none;
}

button:hover,
input:hover {
  background: rgba(65, 225, 177, 0.479);
}

input::placeholder {
  color: black;
}

ol {
  background: rgba(255, 255, 255, 0.5);
  padding: 8px 15px;
  border-radius: 20px;
  max-height: 60vh;
  margin: 50px auto 0px;
  max-width: 95%;
  overflow-y: scroll;
}

ol::-webkit-scrollbar {
  display: none;
}

li {
  font-size: 18px;
  margin: 25px auto;
  padding: 10px;
  /* color: black; */
  box-shadow: 2px 2px rgb(47, 47, 66);
  background: rgb(27, 74, 145);
  min-width: 95%;
  text-align: left;
}

#time {
  width: fit-content;
  margin-left: 10px;
  margin-right: 15px;
}

#setTime {
  text-align: left;
  margin-left: 25px;
  font-size: 18px;
}

#empty {
  font-size: 30px;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  color: red;
}

#clearAll {
  color: orangered;
  font-weight: bolder;
}

#delBtn {
  font-size: 15px;
  padding: 7px 8px;
  margin-top: 0px;
  font-weight: bolder;
}

#clearAll:hover,
#delBtn:hover {
  background: rgba(148, 3, 3, 0.856);
  color: black;
}

@media (min-width: 550px) {
  .App {
    width: 50%;
    min-height: 100vh;
    margin: auto;
  }
}
